# Distribution / packaging
.Python
env/
build/
.ipynb_checkpoints/
.*sh
dist/
downloads/
code/node_modules/
*.json
data/
checkpoints/
siamese-triplet/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.pth
*.ipynb
*.json
*.egg
node_modules
__pycache__/
*.pyc
.coverage
htmlcov
cover
/notebooks
# Serverless directories
.serverless
/virtual
code/*.yml
